<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Proveedor</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

<header class="footer">

    <div class="contenedor contenedor--header">
        <div class="barra">
            <a class="logo">
                <h1 class="logo__nombre no-margin centrar-texto">Facturacion<span class="logo__bold">FB</span> </h1>
            </a>

            <nav class="navegacion">
                <a href="/facturas/new" class="navegacion__enlace">FACTURAR</a>
                <a href="/clientes/new" class="navegacion__enlace">CLIENTES</a>
                <a href="/productos/new" class="navegacion__enlace">PRODUCTOS</a>
                <a href="about.html" class="navegacion__enlace">FACTURAS</a>
                <a href="../static/about.html" class="navegacion__enlace">ACERCA DE</a>
            </nav>


        </div>

    </div>

</header>


<div class="contenedor contenido-principal">

    <h2>Registrar un nuevo Proveedor</h2>

    <form th:action="@{/proveedores/add}" th:object="${proveedor}" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" th:field="*{nombre}"/><br>

        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" name="tipo" th:field="*{tipo}"/><br>

        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario" th:field="*{usuario}"/><br>

        <label for="clave">Clave:</label>
        <input type="password" id="clave" name="clave" th:field="*{clave}"/><br>

        <input type="submit" class="boton boton--primario" value="Registrar"/>
    </form>

    <h2>Listado de Proveedores</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Nombre</th>
            <th>Usuario</th>
            <!-- Agrega más columnas según sea necesario -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="proveedor : ${proveedores}">
            <td th:text="${proveedor.idProveedor}"></td>
            <td th:text="${proveedor.tipo}"></td>
            <td th:text="${proveedor.nombre}"></td>
            <td th:text="${proveedor.usuario}"></td>
            <!-- Agrega más celdas según sea necesario -->
        </tr>
        </tbody>
    </table>


</div>



<footer class="footer">

    <div class="contenedor-foater">
        <div class="barra-foater">
            <a class="logo-foater" href="index.html">
                <h1 class="logo__nombre-foater no-margin centrar-texto">Facturacion<span class="logo__bold">FB</span>
                </h1>
            </a>

            <nav class="navegacion-foater">
                <a href="/facturas/new" class="navegacion__enlace">FACTURAR</a>
                <a href="/clientes/new" class="navegacion__enlace">CLIENTES</a>
                <a href="/productos/new" class="navegacion__enlace">PRODUCTOS</a>
                <a href="about.html" class="navegacion__enlace">FACTURAS</a>
                <a href="../static/about.html" class="navegacion__enlace">ACERCA DE</a>
            </nav>


        </div>

    </div>

</footer>

</body>
</html>
