<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Proveedor</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>


<div class="contenedor contenido-principal">

    <h2>Registrar un nuevo Proveedor</h2>

    <form th:action="@{/proveedores/add}" th:object="${proveedor}" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" th:field="*{nombre}"/><br>

        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" name="tipo" th:field="*{tipo}"/><br>

        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario" th:field="*{usuario}"/><br>

        <label for="clave">Clave:</label>
        <input type="password" id="clave" name="clave" th:field="*{clave}"/><br>

        <input type="submit" class="boton boton--primario" value="Registrar"/>
    </form>

    <h2>Listado de Proveedores</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Nombre</th>
            <th>Usuario</th>
            <!-- Agrega más columnas según sea necesario -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="proveedor : ${proveedores}">
            <td th:text="${proveedor.idProveedor}"></td>
            <td th:text="${proveedor.tipo}"></td>
            <td th:text="${proveedor.nombre}"></td>
            <td th:text="${proveedor.usuario}"></td>
            <!-- Agrega más celdas según sea necesario -->
        </tr>
        </tbody>
    </table>


</div>


<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
