<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Cliente</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>


<header th:replace="~{fragments/header :: header}"></header>

<div class="contenedor contenido-principal">

<h2 th:if="${ #lists.isEmpty(proveedores)}">NO HAY PROVEEDORES REGISTRADOS</h2>

    <table th:if="${not #lists.isEmpty(proveedores)}">
        <h2>Listado de Proveedores</h2>
        <thead>
        <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Estado</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="proveedor : ${proveedores}">
            <td th:text="${proveedor.idProveedor}"></td>
            <td th:text="${proveedor.tipo}"></td>
            <td th:text="${proveedor.nombre}"></td>
            <td th:text="${proveedor.usuario}"></td>
            <td th:if="${proveedor.estado}">Habilitado</td>
            <td th:if="not ${proveedor.estado}">Desabilitado</td>
            <td>
                <form class="formsUgly" th:action="@{/activarProveedor}" method="post">
                    <input type="hidden" name="idProveedor" th:value="${proveedor.idProveedor}" />
                    <button class="boton boton--primario" type="submit">Activar</button>
                </form>
                <form class="formsUgly" th:action="@{/desactivarProveedor}" method="post">
                    <input type="hidden" name="idProveedor" th:value="${proveedor.idProveedor}" />
                    <button class="boton boton--primario" type="submit">Desactivar</button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>

</div>



<footer th:replace="~{fragments/footer :: footer}"></footer>


</body>
</html>
