<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facturacion</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

<header class="footer">

    <div class="contenedor contenedor--header">
        <div class="barra">
            <a class="logo" href="index.html">
                <h1 class="logo__nombre no-margin centrar-texto">Facturacion<span class="logo__bold">FB</span> </h1>
            </a>

            <nav class="navegacion">
                <a href="index.html" class="navegacion__enlace">FACTURAR</a>
                <a href="/clientes/new" class="navegacion__enlace">CLIENTES</a>
                <a href="/productos/new" class="navegacion__enlace">PRODUCTOS</a>
                <a href="about.html" class="navegacion__enlace">FACTURAS</a>
                <a href="../static/about.html" class="navegacion__enlace">ACERCA DE</a>
            </nav>


        </div>

    </div>

</header>
<div class="contenido-principal">
    <h1>INICIO</h1>
</div>






    <footer class="footer">

        <div class="contenedor-foater">
            <div class="barra-foater">
                <a class="logo-foater" href="index.html">
                    <h1 class="logo__nombre-foater no-margin centrar-texto">Facturacion<span class="logo__bold">FB</span>
                    </h1>
                </a>

                <nav class="navegacion-foater">
                    <a href="index.html" class="navegacion__enlace">FACTURAR</a>
                    <a href="/clientes/new" class="navegacion__enlace">CLIENTES</a>
                    <a href="/productos/new" class="navegacion__enlace">PRODUCTOS</a>
                    <a href="about.html" class="navegacion__enlace">FACTURAS</a>
                    <a href="../static/about.html" class="navegacion__enlace">ACERCA DE</a>
                </nav>


            </div>

        </div>

    </footer>
</body>
</html>