<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LISTA TEST</title>
</head>
<body>

    <div th:if="${clients.size() == 0}"> No tiene Clientes</div>


    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Indentificacion</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="clientes: ${clients}">
                <td th:text="${clientes.getNombre()}"></td>
                <td th:text="${clientes.getIdCliente()}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>