<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Facturas</title>
    <!-- Estilos -->
</head>
<body>
<h1>Lista de Facturas</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Total</th>
        <th>Acciones</th>
    </tr>
    <tr th:each="factura : ${facturas}">
        <td th:text="${factura.idFactura}"></td>
        <td th:text="${factura.clientesByIdCliente.nombre}"></td>
        <td th:text="${factura.monto}"></td>
        <td>
            <a th:href="@{/factura/{id}/descargarPDF(id=${factura.idFactura})}" class="btn">Descargar PDF</a>
            <a th:href="@{/factura/{id}/descargarXML(id=${factura.idFactura})}" class="btn">Descargar XML</a>

        </td>
    </tr>
</table>
</body>
</html>
