<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Factura</title>
    <link rel="stylesheet" href="../static/styles.css">
    <!-- Incluye aquí tu CSS para estilos, si es necesario -->
</head>
<body>


<header class="footer">

    <div class="contenedor contenedor--header">
        <div class="barra">
            <a class="logo" >
                <h1 class="logo__nombre no-margin centrar-texto">Facturacion<span class="logo__bold">FB</span> </h1>
            </a>

            <nav class="navegacion">
                <a href="/facturas/new" class="navegacion__enlace">FACTURAR</a>
                <a href="/clientes/new" class="navegacion__enlace">CLIENTES</a>
                <a href="/productos/new" class="navegacion__enlace">PRODUCTOS</a>
                <a href="about.html" class="navegacion__enlace">FACTURAS</a>
                <a href="../static/about.html" class="navegacion__enlace">ACERCA DE</a>
            </nav>

        </div>

    </div>


    <div class = "contenedor contenido-principal">

        <br></br>
        <label>Facturacion
            <div class="divFlex">
                <form  th:action="@{/facturas/add_Item}" method="post">

                    <label for="productoId">ID del Producto:</label>
                    <input type="number" id="productoId" name="productoByIdProducto" min="1" required>
                    <br><br>
                    <label for="cantidad">Cantidad:</label>
                    <input type="number" id="cantidad" name="cantidad" min="1" required>
                    <br><br>

                    <input type="submit" class="boton boton--primario" value="Registrar Item"/>

                </form>
                <form  th:action="@{/facturas/add}" th:object="${factura}" method="post">

                    <div>
                        <label for="clienteId">ID del Cliente:</label>
                        <input type="number" id="clienteId" name="clientesByIdCliente" min="1" required>
                    </div>

                    <input type="submit" class="boton boton--primario" value="Registrar Factura"/>
                </form>
            </div>
            <table>
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>ID</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="detalle, iterStat : ${listaDetalles}">
                    <td th:text="${detalle.producto.nombre}"></td>
                    <td th:text="${detalle.producto.idProducto}"></td>
                    <td th:text="${detalle.producto.valor * detalle.cantidad}"></td>
                    <td th:text="${detalle.cantidad}"></td>
                    <td>
                        <form th:action="@{/aumentarCantidad}" method="post">
                            <input type="hidden" name="index" th:value="${iterStat.index}" />
                            <button type="submit">+</button>
                        </form>
                        <form th:action="@{/disminuirCantidad}" method="post">
                            <input type="hidden" name="index" th:value="${iterStat.index}" />
                            <button type="submit">-</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>

    </div>



    <footer class="footer">

        <div class="contenedor-foater">
            <div class="barra-foater">
                <a class="logo-foater" href="index.html">
                    <h1 class="logo__nombre-foater no-margin centrar-texto">Facturacion<span class="logo__bold">FB</span>
                    </h1>
                </a>

                <nav class="navegacion-foater">
                    <a href="/facturas/new" class="navegacion__enlace">FACTURAR</a>
                    <a href="/clientes/new" class="navegacion__enlace">CLIENTES</a>
                    <a href="/productos/new" class="navegacion__enlace">PRODUCTOS</a>
                    <a href="about.html" class="navegacion__enlace">FACTURAS</a>
                    <a href="../static/about.html" class="navegacion__enlace">ACERCA DE</a>
                </nav>


            </div>

        </div>

    </footer>

</body>
</html>


<!-- Comentarios agregados
<div th:each="detalle, detalleStat : *{detalleFacturaByIdFactura}">
    <div>
        <label th:text="'Producto ' + ${detalleStat.index + 1}"></label>
        <select name="detalleFacturaByIdFactura[__${detalleStat.index}__].productoByIdProducto" >
            <option value="">Seleccione un Producto</option>

            <option th:each="producto : ${productos}"
                    th:value="${producto.idProducto}"
                    th:text="${producto.nombre}"></option>
        </select>
    </div>
    <div>
        <label th:text="'Cantidad ' + ${detalleStat.index + 1}"></label>
        <input type="number" name="factura.detalleFacturaByIdFactura[__${detalleStat.index}__].cantidad" />
    </div>
</div>


-->
